# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/terraform.tfvars
**/.env
**/tfplan

# OS
.DS_Store
*.swp

# Editors
.idea/
.vscode/*
!.vscode/extensions.json
